<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Metagain"
        tools:targetApi="31">
        <activity
            android:name="com.metagain.frontend.view.ContactProfile"
            android:exported="false" />
        <activity
            android:name="com.metagain.frontend.view.Declined"
            android:exported="false" />
        <activity
            android:name="com.metagain.frontend.view.HomepageInRadius"
            android:exported="false" />
        <activity
            android:name="com.metagain.frontend.view.UserProfile"
            android:exported="false" />
        <activity
            android:name="com.metagain.frontend.view.Meetings"
            android:exported="false" />
        <activity
            android:name="com.metagain.frontend.view.Requests"
            android:exported="false" />
        <activity
            android:name="com.metagain.frontend.view.Register"
            android:exported="false" />
        <activity
            android:name="com.metagain.frontend.view.Homepage"
            android:exported="false" />
        <activity
            android:name="com.metagain.frontend.view.LogIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>